h1 {
    text-align: center;
}

.jumbotron {
    padding: 1rem 2rem !important;
    background-color:	rgb(48,48,48);
    color: white;
}

form {
    float: left;
}

label {
    font-size: 20px;
}

.forecast {
    font-size: 20px;
    border: 5px solid blue;
    background-color: blue;
    color: white;
}

.cityResults {
    border: 2px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

